.btn {
    display: inline-block;
    padding: 1em 2em;
    outline: none;
    border-radius: 1em;
    border: none;
    cursor: pointer;
}

.primary {
    background: mediumpurple;
    color: white;
}


.secondary {
    background: mediumseagreen;
    color: white;
}
